+++
title = "Extensions"
tags = ["riscv", "risc-v", "rv32", "rv64", "rv128", "extensions", "standard extensions", "quad floating-point"]
menu = "main"
+++

The RISC-V ISA is kept minimal to allow for area and energy optimized designs.
While the ISA is kept minimal, modern features are often desired which "bolt on"
additional functionality.

<h3>Standard Extensions</h3>

These Standard Extensions are well defined within the ISA, and are as follows.

<table class="table table-striped table-sort">
<thead>
<td>Extension</td><td>Name</td><td>Description</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">I</td><td>Integer base instructions</td><td></td></tr>
<tr><td class="opcode">M</td><td>Integer multiplication and division instructions</td><td></td></tr>
<tr><td class="opcode">A</td><td>Atomic instructions</td><td></td></tr>
<tr><td class="opcode">F</td><td>Single-precision floating-point instructions</td><td></td></tr>
<tr><td class="opcode">D</td><td>Double-precision floating-point instructions</td><td></td></tr>
<tr><td class="opcode">G</td><td>General</td><td>(roll-up of I + M + A + F + D above)</td></tr>
<tr><td class="opcode">Q</td><td>Quad-precision floating-point instructions</td><td></td></tr>
<tr><td class="opcode">L</td><td>Decimal floating point instructions</td><td></td></tr>
<tr><td class="opcode">C</td><td>Compressed instructions</td><td></td></tr>
<tr><td class="opcode">B</td><td>Bit manipulation instructions</td><td></td></tr>
<tr><td class="opcode">J</td><td>Dynamically translated languages</td><td></td></tr>
<tr><td class="opcode">T</td><td>Transactional memory instructions</td><td></td></tr>
<tr><td class="opcode">P</td><td>Packed-SIMD instructions</td><td></td></tr>
<tr><td class="opcode">V</td><td>Vector operations instructions</td><td></td></tr>
<tr><td class="opcode">N</td><td>User-level interrupt instructions</td><td></td></tr>
</tbody>
</table>

Ordering of the table above must be strictly followed when naming ISA extensions.

<ul>
<li>RV64GQLC is valid</li>
<li>RV64ABCD is <b>not</b> valid</li>
</ul>

<h3>Non-standard Extensions</h3>

3rd parties are free to implement their own extensions if desired. These are named as follows.

<table class="table table-striped table-sort">
<thead>
<td>Extension</td><td>Name</td><td>Description</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">Xasd</td><td>Non-standard User-level extension "asd"</td><td></td></tr>
<tr><td class="opcode">SXasd</td><td>Non-standard Supervisor-level extension "asd"</td><td></td></tr>
</tbody>
</table>

As an example: RV64GQXasd
