+++
title = "Key Terms"
tags = ["riscv", "risc-v", "terms"]
menu = "main"
+++

<table class="table table-striped">
<thead>
<td>Term</td><td>Description</td>
</thead>
<tbody>
<tr><td>XLEN</td><td>32, 64, or 128; based on the current register length (RV32I, RV64I, RV128I)</td></tr>
<tr><td>rs1, rs2</td><td>Source Registers</td></tr>
<tr><td>rd</td><td>Destination Register</td></tr>
<tr><td>x[0-31]</td><td>User Registers; <i>XLEN</i>-1 wide</td></tr>
<tr><td>zero register</td><td>A register hard-wired to the value of 0</td></tr>
</tbody>
</table>
